/* Setups and resets */
@font-face {
	font-family: "Norse Bold";
	src: url(fonts/Norse-Bold.otf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	min-height: 100vh;
	font-size: 1.6rem;
	display: flex;
}

/* Z-index section */
.image-part,
.content-part > div {
	position: relative;
}

.image-part,
.header {
	z-index: 3;
}

.user-input {
	z-index: 1;
}

.user-submission {
	z-index: 0;
}

/* The basic structure of the page */
.image-part {
	flex: 1;
	background: url(images/background-image.avif) no-repeat;
}

.content-part {
	flex: 2;
}

/* The left side of the page */
.image-part,
.image-credit a {
	color: white;
}

.image-part {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
}

.logo-container {
	align-self: stretch;
	background-color: rgb(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;
	margin-top: 15rem;
}

img.logo {
	height: 11rem;
	width: auto;
}

.logo-text {
	font-family: "Norse Bold";
	font-size: 9rem;
}

/* The right side of the page */
.content-part {
	display: flex;
	flex-direction: column;
}

.content-part > div {
	padding-left: 4rem;
}

.header,
.user-submission {
	background-color: rgb(245, 245, 245);
	flex: 1.5
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 4rem;
}

.header p {
	font-weight: bold;
	font-size: 2.5rem;
	width: 55ch;
	margin-bottom: 3rem;
}

.user-input {
	flex: 1;
	background-color: hsl(0, 0, 100%);
	box-shadow: 0px 0px 10px 0px rgb(142, 141, 141);
}

div.user-submission {
	padding-top: 4rem;
	font-size: 1.8rem;
	font-weight: bold;
}

.user-submission a {
	outline: none;
	text-decoration: none;
	color: #596D48;
}

.user-submission > button {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 3rem;
	padding: 1.5rem 4rem;
	color: white;
	background-color: #596D48;
	border: none;
	border-radius: 0.8rem;
}

/* form section */
.user-input {
	padding: 2rem 0;
}

.form-head {
	font-weight: bold;
	font-size: 2.2rem;
	margin-bottom: 1.5rem;
}

form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.form-row {
	display: flex;
	gap: 15rem;
}

.form-row > .cell {
	display: flex;
	flex-direction: column;
}

.cell > label {
	/* font-family: monospace; */
	font-size: 1rem;
	color: rgb(4, 12, 31);
	letter-spacing: 0.1rem;
}

.cell > input {
	border: 0.1rem solid #E5E7EB;
	border-radius: 0.3rem;
	height: 3rem;
	width: 30rem;
	font-size: 1.4rem;
}

.cell > input:focus {
	outline: none;
	border: 0.1rem solid blue;
	box-shadow: 2px 2px 4px rgb(167, 163, 163);
}

.error {
	border: 0.1rem solid red;
}

.mismatch {
	color: red;
	font-size: 1.2rem;
	height: 2rem;
}